<!doctypeHTML>


<div class="container">
  <h2>Student List</h2>
  <table>
    <thead>
    <tr>
      <th>ID</th>
      <th>Full Name</th>

      <th>Department</th>
      <th>Budget</th>
      <th>Admin</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let student of userList" [routerLink]="['/students',student.id ]">
      <td>{{ student.id }}</td>
      <td>{{ student | fullName  }}</td> <!-- custom pipe -->

      <td>{{ student.department }}</td>
      <td>{{student.budget | currency: 'CAD': "symbol-narrow"}}</td><!-- currency pipe -->
      <td>{{ student.isAdmin ? 'Yes' : 'No' }}</td>
    </tr>
    </tbody>
  </table>

</div>

<div *ngIf="error" class="error">{{ error }}</div>
