<div class="container">
  <h2>Student List</h2>
  <table>
    <thead>
    <tr>
      <th>ID</th>
      <th>First Name</th>
      <th>Last Name</th>
      <th>Department</th>
      <th>Admin</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let student of userList" [routerLink]="['/students',student.id ]">
      <td>{{ student.id }}</td>
      <td>{{ student.firstName }}</td>
      <td>{{ student.lastName }}</td>
      <td>{{ student.department }}</td>
      <td>{{ student.isAdmin ? 'Yes' : 'No' }}</td>
    </tr>
    </tbody>
  </table>

</div>
