<!-- app.component.html -->
<div class="container">
  <h2>User List</h2>
  <div *ngFor="let user of userList" class="user-card">
    <h3>{{ user.firstName }} {{ user.lastName }}</h3>
    <p>ID: {{ user.id }}</p>
    <p>Department: {{ user.department }}</p>
    <p>Admin: {{ user.isAdmin ? 'Yes' : 'No' }}</p>
    <!-- ternary operator to give user appropriate feedback -->
    <!-- Button for toggling Admin Status -->
    <button (click) = "toggleAdminStatus(user)" class = 'toggle-button'>Toggle Admin Status</button>
  </div>
</div>
