<!-- modify-student.component.html -->

<form [formGroup]="studentForm"  (ngSubmit)="onSubmit()">
  <div class="form-group">
    <label for="id">ID</label>
    <input type="number" id="id" name="id" formControlName="id"  />
  </div>
  <div class="form-group">
    <label for="firstName">First Name</label>
    <input type="text" id="firstName" name="firstName" formControlName="firstName" required />
  </div>
  <div class="form-group">
    <label for="lastName">Last Name</label>
    <input type="text" id="lastName" name="lastName" formControlName="lastName"required />
  </div>
  <div class="form-group">
    <label for="department">Department</label>
    <input type="text" id="department" name="department" formControlName="department" required />
  </div>
  <div class="form-group">
    <label for="isAdmin">Admin</label>
    <input type="checkbox" id="isAdmin" name="isAdmin" formControlName="isAdmin"/>
  </div>
  <!-- ADD or UPDATE -->
  <button type="submit">Submit</button>
  <!-- Delete Button -->
  <button type="button" (click)="onDelete()">Delete</button>
  <!-- Back button -->
  <button type="button" (click) = "navBackToStudentList()">Back to student List</button>

</form>
